{% extends "base.html" %}

{% block content %}
  <h1>Asapp Chat</h1>
  <p class="deck">
    <h3>How To Login</h3>
    <br/>
    Enter an existing Username, or simply enter your own (anything).
  </p>
  <p>
    <form method="post" action="{% url 'login_user' %}">
    {% csrf_token %}
      {{ form.username }}
      <input class="form-control placeholder-no-fix" type="text" placeholder="Enter Your Username" name="username"/>
      <input class="button button-primary" type="submit" value="Login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </p>
{% endblock content %}